boostaroota==1.3
category_encoders==2.2.2
imblearn==0.0
jupyter_core==4.7.0
lightgbm==3.2.1
matplotlib==3.3.4
ngboost==0.3.10
nltk==3.6.2
numpy==1.19.4
optuna==2.5.0
pandas==1.1.5
pip-tools==6.2.0
plotly==5.1.0
psutil==5.8.0
seaborn==0.11.1
scikit-learn==0.23.2
scipy==1.6.3
shap==0.39.0
spacy==3.0.6
xgboost==1.3.3